@font-face {
  font-family: 'wallet-iconfont';
  src: url('//at.alicdn.com/t/font_1440571504_9157696.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1440571504_9157696.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1440571504_9157696.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1440571504_9157696.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1440571504_9157696.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.wallet-icon {
  font-family: "wallet-iconfont";
  font-size: 16px;
  font-style: normal;
}

.wallet-balance-container {
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.wallet-icon-balance {
  color: #fff;
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 50%;
  line-height: 32px;
  font-size: 24px;
  margin-right: 12px;
  padding: 0;
  font-weight: normal;
}

.wallet-balance {
  margin-left: 12px;
}

.wallet-icon-col {
  width: 28px;
}

.wallet-icon-list {
  display: block;
  font-size: 26px;
  line-height: 26px;
}
